---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

$monospace-font-family: 'Menlo', 'Consolas', monospace;
$monospace-font-family-header: 'Inconsolata', monospace;

$base-font-family: $monospace-font-family;
$header-font-family: $monospace-font-family-header;
$title-font-family: $monospace-font-family-header;

$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #F7F4F8;
$brand-color:      #337ab7;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;




// $hyperlink-color: #337ab7;
// $hyperlink-color-activated: #E8880C; 

$hyperlink-color: #0E6C8F;
$hyperlink-color-activated: #C2002A; 

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
