---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// @import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Slabo+13px&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

// Our variables
$sans-serif-font-family: 'Open Sans', sans-serif;
$serif-font-family: 'Slabo 13px', serif;
$serif-font-family2: 'Slabo 27px', serif;
$header-font-family: $serif-font-family2;
$header-font-family2: $serif-font-family;

$base-font-family: $serif-font-family;
$title-font-family: $sans-serif-font-family;

$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #337ab7;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


$hyperlink-color: #337ab7;
$hyperlink-color-activated: #E8880C; 


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
