---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$Ahamono-font: 'AHAMONO-Regular';
$Ahamono-path: '{{ baseurl }}/assets/fonts/AHAMONO-Regular.woff';
@font-face {
  font-family: 'AHAMONO-Regular';
  src: url($Ahamono-path) format('woff'), /* Pretty Modern Browsers */
}

$sans-serif-font-family: 'Consolas', sans-serif;
$serif-font-family: 'Courier New', serif;
$serif-font-family2: 'Courier New', serif;
$header-font-family: $serif-font-family2;
$header-font-family2: $serif-font-family;

$base-font-family: $serif-font-family;
$title-font-family: $sans-serif-font-family;

$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #f0f0f0;
$brand-color:      #337ab7;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


$hyperlink-color: #337ab7;
$hyperlink-color-activated: #E8880C; 


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
