---
layout: default 
title: Posts
permalink: /posts/
---
<div class="home">
  <h1 class="post-title">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts%}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <h2>
          {{ post.title }}
        </h2>
        <p class="post-date">
        {{post.date | date: "%b %-d, %Y"}}
        </p>
        <p class="wrapper-excerpt-text">
          {{post.excerpt | strip_html | truncatewords:30}}
        </p>
        <!--<div>
          {% if post.thumbnail%}
          <div class="wrapper-excerpt-img"><img src="{{ post.thumbnail }}" class="img-excerpt"/></div>
          {% endif %}
          <div class="wrapper-excerpt-text">
          {{post.excerpt | strip_html | truncatewords:30}}
          </div> 
        </div> -->
        <div style="clear:both"></div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

