---
layout: default 
title: Projects
permalink: /projects/
---
<div class="home">
  <h1 class="page-heading">Things I've Done</h1>
  <ul class="post-list">
    {% for post in site.posts%}
    {% if post.categories contains site.category-projects %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div>
          {% if post.thumbnail%}
          <div class="wrapper-excerpt-img"><img src="{{ post.thumbnail }}" class="img-excerpt"/></div>
          {% endif %}

          <div class="wrapper-excerpt-text">
          {{post.excerpt | strip_html | truncatewords:30}}
          </div>
        </div>
        <div style="clear:both"></div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

