/**
 * Site header
 */


.site-header {
    text-align:center;
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    padding: $spacing-unit 0;
    // Positioning context for the mobile navigation icon
    position: relative;
    font-family: $header-font-family2;

    h1, h2, h3, h4, h5, h6
    {
        font-family: $header-font-family;
        font-weight: normal;
    }
    .wrapper {
    margin-top: 2 * $spacing-unit;
    border-bottom: 1px solid $grey-color-light;
    }
    //text-align: center;
    ul
    { 
        //font-size: 1em;
        list-style-type: none; 
        padding: 0;
        /*display: inline-block;*/
        margin-left: 0;
        li 
        { 
            display: inline;
            margin-right: 2 * $spacing-unit;
        }
    }
    a
    {
        &:visited { color: $hyperlink-color; }
    }
}



.site-title {
    font-family: 'Slabo 27px', serif;
    font-weight:100;
    h1
    { 
        font-size:2.5 * $base-font-size; 
        margin-bottom:0;
    }
    h2
    {
        color: #E8880C;
        font-size: 1.5 * $base-font-size;
        margin-top: 0;
    }
}

.site-nav {
    line-height: 2 * $base-font-size;
    margin-top: 2 * $spacing-unit;
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 2 * $spacing-unit;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    // padding: $spacing-unit 0;
    font-size: $small-font-size;
    .wrapper {
        // padding: $spacing-unit 0;
        padding: $spacing-unit $spacing-unit;
        border-top: 1px solid $grey-color-light;
    }
    a{
        &:visited { color: $hyperlink-color; }
    }
}

/*
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
*/

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0;
}

.page-heading {
    //font-size: 32px;
}


.wrapper-excerpt-img
{ 
    float:left;
    margin-right: 2 * $spacing-unit;
    max-width: $content-width / 6;
    max-height: $content-width / 6;
    overflow: hidden;
}
.wrapper-excerpt-text
{ 
    // background-color:red; 
    overflow: auto;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit * 2;
}

.post-title {
    line-height: 1;
    letter-spacing: -1px;
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin: $spacing-unit *2 auto;

        border-radius: $spacing-unit / 2;
        padding: $spacing-unit / 2;
        // &:hover
        // {
        //     transition: all 0.3s;
        //     background-color: lighten($hyperlink-color-activated, 45%);
        // }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-meta-categories
    {
        margin-left: $spacing-unit;
    }

    .post-link {
        display: block;
        line-height: 1.75 * $base-font-size ;
        // font-size: 24px;
    }

    h2 {
    margin-top:0px;

    }

}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 2 * $base-font-size;
        @include media-query($on-laptop) {
            font-size: 2 * $small-font-size;
        }
    }

    h2 {
        font-size: 1.75 * $base-font-size;

        @include media-query($on-laptop) {
            font-size: 1.75 * $small-font-size;
        }
    }

    h3 {
        font-size: 1.5 * $base-font-size;
        @include media-query($on-laptop) {
            font-size: 1.5 * $small-font-size;
        }
    }

    h4 {
        font-size: 1.25 * $base-font-size;

        @include media-query($on-laptop) {
            font-size: 1.25 * $small-font-size;
        }
    }

    h5 {
        font-size: 1.1 * $base-font-size;

        @include media-query($on-laptop) {
            font-size: 1.1 * $small-font-size;
        }
    }

    img
    {
        display: block;
        align:center;
        margin: $spacing-unit * 2 auto;
    }
    .post-content-blk
    {
        margin: $spacing-unit * 4 auto;
        margin-left: $spacing-unit;
    }

    .post-annotation
    {
        color: $grey-color;
    }

    p
    {
        margin: $spacing-unit auto;
    }

    .post-logo
    {
        float:left;
        width:100px; 
        margin:$spacing-unit;

    }
}

.post-image-lightbox
{
    img
    {
        display: inline-block;
        max-height: 100px;
        max-width:20%;
        margin-left: $spacing-unit;
        box-shadow: 2px 2px 5px #888888;
        transition: all 0.3s;
        @include media-query($on-laptop) {
            max-width: 50%;
        }
    }
}


.license
{
    text-align: center;
    font-size: $small-font-size;
    margin: 4 * $base-font-size auto $base-font-size auto;
    width: 50%;
    img
    {
        margin-bottom: $spacing-unit;
    }
}

.contact
{
    margin-top: 3 * $spacing-unit;
    .contact-addr
    {
        font-size: $small-font-size;
        margin-left: $small-font-size;
    }
    .contact-title
    {
        margin-bottom: $spacing-unit;
    }
}
abbr 
{
    border-bottom: 1px dotted $grey-color;
}

.resume-section
{
    margin: $spacing-unit auto $spacing-unit * 3 auto !important;
    // font-family: $sans-serif-font-family;
    h1, h2, h3, h4, h5, h6
    {
        font-family: $title-font-family;
    }
    q
    { font-style: oblique; }
    .resume-section-title
    {
        font-weight: 600;
        // border-bottom: 1px solid;
        background-color: $grey-color-light;
        margin: $spacing-unit 0;
        padding-left: $spacing-unit/2;
    }
}
.resume-indie
{
    >li
    {
        margin-bottom: $spacing-unit/2;
    }
    .resume-indie-title
    {
        font-family: $title-font-family;
        margin-bottom: 0;
    }
}
.resume-annotation
{
    font-size:$base-font-size;
    color:$grey-color;
    font-weight: 400;
    // margin-left: $spacing-unit;
}
.resume-item-blk
{
    margin: $spacing-unit $spacing-unit/2 $spacing-unit * 2 $spacing-unit/2 !important;

    .resume-item-title
    {
        font-family: $title-font-family;
        font-weight: 600;
        line-height: 1.2;
        // font-size: $base-font-size;
    }
    .resume-item-description
    {
        color: $grey-color-dark;
        font-size: $base-font-size;
        margin-left: $spacing-unit * 2;
    }
}